body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
@media (min-width:1260px){
  .wrapper{ 
    display:flex;
    align-items: stretch;
    flex-direction: row;
  }  
  .inside{
         order:1;     
  }
  .widel{
    order:2;
}
}
@media (min-width:600px){
  .wrapper{ 
    display:flex;
    align-items: stretch;
    flex-direction: row;
  }  
  .inside{
      width:150px;
      order:1;     
  }
  .widel{
    order:2;
}
}
.wrapper{
    padding: 1px;
    background: #af6;
}
  .inside{
        margin: 15px 10px;
        background: #7e8;
        box-shadow: 10px 10px 2px 2px #9d7;
        border-top-left-radius: 5em; 
        border-bottom-right-radius: 5em;
        padding: 2px 15px;
        color: #393;

}
.inside:hover{
   background: #6d7;
   box-shadow: 8px 8px 1px 1px #6a6; 
   margin: 15px 12px;
   font-weight: bolder;
   cursor: pointer;
}
