/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Jul-2018, 11:04:57
    Author     : DenisT
*/

body {margin:0;}
form {
    margin:10px;
    padding: 10px;
}
.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #0202FF;
}
.icon-bar  a.active:hover {
    background-color: #4A4FFF;
}